#service-status-container {
    width: 100%;
}
#service-status-container ul#service-status {
    list-style: none;
    margin: 0;
    padding: 0;
}
#service-status-container ul#service-status li {
    list-style-image: none !important;
    background-color: #fff !important;
}
#service-status-container ul#service-status li a {
    display: inline-block;
    min-width: 150px;
    margin: 10px 0;
    padding: 10px;
    text-transform: capitalize;
    text-shadow: 0 1px #fff;
    text-decoration: none;
    color: #333;
    background-image: -webkit-linear-gradient(top, #eee 0%, #bbb 100%);
    background-image: -moz-linear-gradient(top, #eee 0%, #bbb 100%);
    background-image: linear-gradient(top, #eee 0%, #bbb 100%);
    border: 1px solid #999;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px #fff inset;
    -moz-box-shadow: 0 1px #fff inset;
    box-shadow: 0 1px #fff inset;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0;
}
#service-status-container ul#service-status li a:hover {
    color: #fff !important;
    text-decoration: none;
    text-shadow: 0 -1px rgba(0,0,0,.7);
    border: 1px solid #111;
    background-image: -webkit-linear-gradient(top, #666 0%, #444 100%);
    background-image: -moz-linear-gradient(top, #666 0%, #444 100%);
    background-image: linear-gradient(top, #666 0%, #444 100%);
    -webkit-box-shadow: 0 1px rgba(255,255,255,.3) inset;
    -moz-box-shadow: 0 1px rgba(255,255,255,.3) inset;
    box-shadow: 0 1px rgba(255,255,255,.3) inset;
}
#service-status-container ul#service-status li span.icon {
    display: inline-block;
    width: 16px;
    padding: 10px;
    background-color: green;
    background-image: linear-gradient(top, #00B200 0%, #007F00 100%);
    background-image: url(images/status-icons.png);
    border: 1px solid #999;
    border-right: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
#service-status-container ul#service-status li.green span.icon {
    background-color: green;
}
#service-status-container ul#service-status li.yellow span.icon {
    background-color: yellow;
    background-position: 0 -35px;
}
#service-status-container ul#service-status li.red span.icon {
    background-color: red;
    background-position: 0 -69px;
}